<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>登录页面</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
</head>
<body>
    <div style="text-align: center">
        <!--添加国际化语言-->
        <h2 th:text="#{login.tip}"></h2>
        <form action="#" th:action="@{/check}" th:object="${userInfo}" method="post">
            <label th:text="#{login.username}"></label>:<input type="text" th:placeholder="#{login.username}" th:value="${userId}" name="userId" /><br>
            <label th:text="#{login.password}"></label>:<input type="password" th:placeholder="#{login.password}" th:value="${userPassword}" name="userPassword" /><br>
            <!--判断不为空时生成label标签-->
            <label style="color: red" th:text="${loginError}" th:if="${not #strings.isEmpty(loginError)}" /><br>
            <a th:href="@{/(language='zh_CN')}">中文</a>
            <a th:href="@{/(language='en_US')}">English</a><br>
            <button class="btn btn-default"><a href="/register" th:text="#{login.register}"></a></button>
            <input type="submit" th:value="#{login.login}" class="btn btn-primary" />
        </form>
    </div>
</body>
</html>